
@media (max-width: 600px) {
  .Menu {
    font-size: 8px;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .Menu {
    font-size: 11px;
  }
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

nav a:hover{
  color: rgba(255, 255, 255, 0.8);
}

.Menu{
	font-family: "Courier", monospace;
	color: #007e99 !important;
	display: inline-block;
	white-space: nowrap;
  text-decoration: none;
}

hr {
  border: none;
  height: 2px;
  background-color: #6dd7ed;
}

  .coracoes {
    display: flex;
    font-size: 2rem;
    color: #ccc;
    justify-content: center;
  }

  .coracoes .cheio {
    color: #6dd7ed;
  }

.circular {
  width: 30vw;
  height: 30vw;
  max-width: 600px;
  max-height: 600px;
  min-width: 300px;
  min-height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 5px 8px rgba(0, 126, 153, 1);
  display: block;
  margin: 0 auto;
}


.texto_inicial {
  font-family: "Courier", monospace;
  font-weight: bold;
  width: 30vw;
  max-width: 600px;
  min-width: 300px;
  margin: 10px auto;
  word-wrap: break-word;
  text-align: justify;
}

h1{
  font-family: "Courier", monospace;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #6dd7ed;
}

h2{
  font-family: "Courier", monospace;
  font-weight: bold;
  max-width: 80%;
  min-width: 80%;
  display: block;
  margin: 0 auto;
  color: #6dd7ed;
}

b{
  font-family: "Courier", monospace;
  font-weight: bold;
  color: #6dd7ed;
}


p{
  font-family: "Courier", monospace;
  font-weight: bold;
  max-width: 80%;
  min-width: 80%;
  display: block;
  margin: 0 auto;
}

.clique {
  display: block;
  text-align: center;
  font-family: "Courier", monospace;
  font-weight: bold;
  color: #6dd7ed;
  margin: 0 auto;
}

.frases{
  font-family: "Courier", monospace;
  color: #6dd7ed;
}

